@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/** Utility Classes */ 

.nav-scroller {
    position: relative;
    z-index: 2;
    /* height: 2.75rem; */
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    gap: 3rem;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav .nav-item {
    /* background-color: darkgrey;  */
    height: 100%;
    padding-block: 0;
    padding-right: 0;
    border-radius: 35px;
}

.nav-scroller .nav .nav-item .title {
    font-weight: 700;
}

.nav-scroller .nav .nav-item span img {
    border-radius: 35px;
}


/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #9f8e77;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #823c03;
} 
.shop-now .btn {
    border-radius: 35px;
} 

.border-radius-35 {
    border-radius: 35px;
}

/** End of Utility Classes */


body { 
    min-width: 375px;
    /* font-family: "Comfortaa", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    padding-top: 2rem; 
    padding-inline: 1rem; 
    padding-bottom: 0;
}

.top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-nav nav {
    display: none;
} 

main {
    margin-top: 1.5rem;
}

.hero {
    background: url(../images/IMG_3264.png); 
    border-radius: 35px; 
    padding: 2rem; 
} 

.hero .intro {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    gap: 2rem; 
    text-align: center;
} 

.hero .intro .main {
    /* max-width: 250px; */
}

.hero .intro .main h2 { 
    max-width: 250px; 
    margin: auto;
    font-size: 2.5rem; 
    font-weight: 900; 
    text-shadow: 1px -1px antiquewhite;
}

.hero .intro .main p { 
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 500; 
    text-shadow: 1px -1px antiquewhite;
}

.hero .intro .brief-categories {
    display: none;
} 

.hero .intro .rating {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .intro .rating .heading {
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    background-color: goldenrod;
    color: black;
    font-weight: 500;
    border-radius: 35px;
    text-shadow: unset;
}

.search {
    /* position: relative;  */
    /* padding-top: 3rem; */ 
    margin-top: -2rem; 
    max-width: 300px; 
    margin-inline: auto; 
    padding-inline: 3rem; 
    padding-block: 1.5rem; 
    border-radius: 35px; 
    background-color: antiquewhite; 
    cursor: pointer; 
    /* z-index: 1; */
}

.search-container {
    display: flex; 
    align-items: center; 
    gap: 7px;
    width: 100%; 
    background-color: white; 
    border-radius: 35px; 
    padding-inline: 10px;
    padding-block: 5px;
} 

.search-container input {
    width: 100%; 
    border: none; 
    /* border-radius: 35px;  */
    padding-inline: 10px; 
    padding-block: 5px; 
    font-size: 0.75rem;
} 

.search-container input:focus {
    border: none;
    outline: none;
} 

.popular-categories {
    padding-top: 2rem; 
}

.popular-categories h3 {
    font-weight: 600;
} 

.trending {
    margin-top: 3rem; 
    border-radius: 35px; 
    padding: 3rem; 
    color: white;
} 

.trending .heading {
    /* display: flex;  */
} 

.trending .products {
    padding-top: 1rem; 
    color: black; 
    /* display: flex; 
    justify-content: center;
    flex-wrap: wrap; */
}

.trending .products article { 
    min-width: 250px; 
    max-width: 450px; 
    min-height: 200px; 
    max-height: 400px; 
    border-radius: 35px; 
    padding: 2rem; 
    position: relative;
}

.trending .products article h4 { 
    text-align: start;
}

.trending .products .buy { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    justify-content: space-between;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    /* border-radius: 35px;  */
    padding-block: 1rem; 
    padding-inline: 2rem; 
    /* background: rgba(255, 255, 255, 0.1); */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(10px);
}

.trending .products .buy .price .old-price { 
    text-decoration: line-through; 
} 

.brands {
    margin-top: 3rem;
} 

.brands .text {
    margin: auto;
} 

.brands .categories {
    display: block;
    font-weight: 600;
    height: 100%;
    border-radius: 35px;
    padding: 3rem; 
    margin: auto;
}

.brands .categories ul {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin-inline: auto; 
    width: 100%;
    gap: 0.75rem;
    padding-block: 2rem;
    padding-inline: 1.5rem;
}

.brands .categories ul li {
    cursor: pointer;
    padding-block: 0.2rem;
    padding-inline: 1rem;
    background-color: white;
    border-radius: 35px;
    transition-duration: 0.5s;
    max-width: 150px;
} 

.new-arrivals {
    margin-top: 3rem;
} 

footer {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px; 
}

footer .intro {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px; 
    padding: 1.5rem; 
    /* background-color: rgba(0, 0, 0, 0.9); */
} 

footer .shop-now .btn {
    border-radius: 35px; 
    margin-bottom: -2rem;
}

footer .contact {
    font-size: 0.85rem;
}



@media screen and (min-width: 600px) {
    body {
        padding: 2rem; 
        padding-bottom: 0;
    } 

    .hero {
        /* padding: unset;  */
    }

    .hero .intro {
        /* padding-block: 3rem; */
    } 

    .hero .intro .main {
        padding-top: 3rem;
    }
    
    .search {
        max-width: 350px;
        margin-inline: auto;
        padding-inline: 3rem;
        padding-block: 1.75rem;
    } 
}


@media screen and (min-width: 900px) { 
    body {
        padding: 3rem; 
        padding-bottom: 0;
    }

    /* .top-nav {
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
    } */
    .top-nav nav {
        display: flex; 
        gap: 2rem; 
        flex-wrap: nowrap;
    } 

    .top-nav nav ul {
        display: flex; 
        gap: 1rem;
    } 

    .top-nav .mobile-toggle-button {
        display: none; 
    } 

    .hero {
        /* height: 100%; */ 
        padding: unset;
    }

    .hero .intro {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    } 

    .hero .intro .brief-categories {
        display: block; 
        font-weight: 600; 
        background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        height: 100%; 
        width: 24%;
        border-top-left-radius: 35px; 
        border-bottom-left-radius: 35px; 
        padding-block: 3rem;
    } 

    .hero .intro .brief-categories ul {
        display: flex; 
        flex-direction: column; 
        align-items: center;
        gap: 0.75rem; 
        padding-block: 2rem;
        padding-inline: 1.5rem;
    }

    .hero .intro .brief-categories ul li { 
        cursor: pointer;
        padding-block: 0.2rem; 
        padding-inline: 1rem; 
        background-color: white; 
        border-radius: 35px; 
        transition-duration: 0.5s; 
        max-width: 150px;
    }

    .hero .intro .brief-categories ul li:hover {
        background-color: #ffffff12; 
        color: white;
    }

    .hero .intro .main {
        padding-block: 3rem; 
        width: 52%;
    } 

    .hero .intro .rating {
        padding-bottom: unset; 
        align-self: flex-start; 
        display: flex;
        flex-direction: column; 
        align-items: end;
        padding-block: 3rem; 
        padding-right: 3rem; 
        width: 25%;
    }

    .hero .intro .rating .text {
        text-align: end;
    } 

    .search {
        margin-top: -2rem;
        max-width: 450px;
        margin-inline: auto;
        padding-inline: 3.25rem;
        padding-block: 2rem;
        border-radius: 35px;
        background-color: antiquewhite;
        cursor: pointer;
    }
}