<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, Verdana, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            /* color: #0056b3; */
            font-size: larger;
        }

        p {
            font-size: 16px;
        }

        .button {
            background-color: #a76e28;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            font-weight: bold;
            /* border-radius: 35px; */
            display: inline-block;
            transition: all 0.5s ease;
        }

        .button:hover {
            opacity: 0.5;
        }

        .email-link {
            color: #a76e28;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="cid:logo" alt="Logo" style="width: 50px" />

        <h1>Hi <%= user %>,</h1>

        <p>You have just requested to sign into your account via a link (without password).</p>

        <p>Please, click on the "Sign In" button to sign into your account.</p>

        <p>Kindly note that this link acn only be used once and expires in 120 minutes.</p>

        <br />

        <p>
            <a href="<%= signInLink %>" class="button">Sign In</a>
        </p>

        <br />
        <br />

        <p>Thanks,</p>
        <p>DeezysDeals Team</p>

        <br />

        <p><small>If you did not request for this link, kindly ignore this message. Else, if you suspect your account has been breached and would like to report this or you have questions, complaints or suggestions, contact us at: <a href="mailto:customer@deezysdeals.com" class="email-link">customer@deezysdeals.com</a>.</small></p>

        <p>123 John Doe Boulevard, Boston, United States</p>

        <p>&copy; 2024. DeezysDeals.</p>
    </div>
</body>

</html>